html {
  overflow-y: scroll;
}

.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 25px;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav, .nav-pills, .nav-work{
      padding-bottom: 40px;
}

.nav-menu{
  padding-top: 10px;
}
