html {
  overflow-y: scroll;
}

.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 25px;
}

.main-page{
  padding-top: 25px;

}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav, .nav-pills, .nav-work{
      padding-bottom: 20px;
}

.nav-menu{
  padding-top: 10px;
}

ul{
    list-style-type: none;

}

.post{
  padding-top: 40px;
}

.about{
  padding-top: 40px;
}

.image-posts {
  padding-bottom: 10px;
  margin: auto;
  }

.post-list li {
  padding-top: 40px;
}

.post-menu{
  padding-top: 80px;
}

.post-menu li{
  padding-top: 10px;
}

.post-writing p{
  line-height: 2;
  font-size: 110%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.inline-img img{
  display: inline-block;
}

.center-img img{
  margin: auto;
}

.image-posts-right{
	float: left;
  padding-left: 10px;
  }

  .image-posts-left{
  float: left;
  padding-right: 10px;
  }

.work-content{
  display: inline-block;

}

.work-content-outer{
  text-align: center;
}

.project-content {
  padding-top: 0px;
}

.project-content p{
  padding-left: 20px;
  padding-top: 0px;
}
  .carousel-control {
  position:relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 15px;
  color: black;
  text-align: left;
  text-shadow: none;
  filter: alpha(opacity=50);
  opacity: .5;
}

.control-container{
 position: absolute;

 top: 0px;


}

.carousel-control:hover,
.carousel-control:focus {
  color: black;

}

.carousel-caption{
  padding-bottom: 0px;
  position: relative;
  left: auto;
  right: auto;
  color: black;

  text-shadow: none;
  font-size: 100%;
  margin: auto;

}

.work-description {
    text-align: left;
}

.scroll-right {
    text-align: left;
}

.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right{
  margin-top: 25px;
 }

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img {

  display:block;
  max-height: 600px; !important
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img {
    margin: auto;
}


.rg_embed_body{
  border-style: solid;
  border-width: 1px;
  border-color: #f7f4ef;
  border-radius: 31px 31px 31px 31px;

}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {

  color: black;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: transparent;
}

a{
  color: #5F5F5F;
}

a:hover{
  color: black;
  text-decoration: none;
}

.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent;
}

.panel-title > a {
    color: #9a9a9a;
}

.panel-default>.panel-heading{
  background-image:none;
  background-color: transparent;
}

.panel-default{
    border-color: transparent;
}

.navbar-default{
  background-image:none;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.glyphicon-fullscreen{
  position:absolute;
  right: 0;
  bottom: 0;
  top: inherit;
  padding: 7px;
  color: white;

}

#player{
	background-color: white;
}

.image-side-scroll{
  display: inline-block;
  padding-bottom: 50px;
  padding-right: 50px;
}

.image-side-scroll iframe{
  vertical-align: middle;
}

.collab-credit{
  font-size: 70%;
}

.audio{
  padding-top: 30px;
  padding-left: 10px;
}

.h2, h2 {
  font-size: 20px;
}

.h5, h5{
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
}

.h4, h4{
  font-size: 13px;
  padding: 0px;
}


.video-overlay {
    position: relative;
    display: block;
    width:100%

}

.video-small{
  position: absolute;
  left:150px;
  bottom: 39%;
}

.video-paradise-l{
  position: absolute;
  left:377px;
  bottom: 65%;
}
.video-paradise-r{
  position: absolute;
  left:457px;
  bottom: 65.3%;
}

.video-paradise-l1{
  position: absolute;
  left:100px;
  bottom: 64%;
}
.video-paradise-r1{
  position: absolute;
  left:505px;
  bottom: 64%;
}

.paradise-vid{
  margin-bottom: 50%;
}

.annoucement{
  color:pink;
  font-weight: bold;
}
.audio-small{
  position: absolute;
  left:200px;
  bottom: 20%;
}

.gum {
  position:relative;
}


.gif-container {
    position: relative;


}

.gif {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: none;
    margin:auto;
    left:-50%;
    right:0;
    padding-top: 20%;

}

.row{
  padding-top:5px;
}

 .img-padding{
   padding: 10px;
 }

 .description{
   color: #5F5F5F;
   font-family: 'Lato', sans-serif;
 }

 .img-responsive-s{
   width:80%;

 }
.second-video{
  padding-top: 2%;
}

.living{

  position: absolute;
  transform: rotate(90deg);

  transform-origin: bottom left;
  width: 100vh;
  height: 100vw;
  margin-top: -100vw;
  object-fit: cover;

  z-index: 4;
  visibility: visible;

}
