---
layout: default
---
<div class="row">
  <div class="col-md-2"> 
  </div>
  <div class="col-md-7">
    <ul class="post-list">
      {% for post in site.posts %}
        <li>

          <h2>
           {{ post.title }}
          </h2>
           <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><span class="glyphicon glyphicon-link"></span></a>
          {{ post.content }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="post-menu">
        {% for post in site.posts %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
         </li>
        {% endfor %}
      </ul>       
  </div>
</div>
