<p>
  Rosa Nussbaum, London based visual artist. Romance and the aesthetics of aspiration. Alternative modes of practice, fusing work into life into fame (?!).
  *Products*, pokemon, political campaigns - corporate, manufactured aesthetics rather than art formats like painting, performance, drawing. Operational Realism. Like with a TV show or an action figure or Kim Kardashian the medium is the display is the content is the context is the representation. How to be a total artwork/have a total practice.
</p>
<p>
  ↑
</p>
<p>
  Stuff I’m interested in.
</p>

