<p>
2018 | Commission by Loveunlimited for Glasgow International, Glasgow, Scotland 
<p>
2018 | Featured Artist Commission for Luminaria 2018
<p>
2015 | Public Art Commission, Merton Mega commission to create a site specific VR installation in Morden Hall Park, Merton Council, London, UK
</p>
<p>
2015 | commission to develop Rosa -> Kanye at Experimentica 15 Festival, Cardiff, Wales
</p>
<p>
2012 | The Space We Live In, public facing art commission in collaboration with mental health charity Mind, exploring the concept of home, as part of Periscope Collaborations  at The Old Fire Station, Oxford, UK
