<p class="description">
  Hemisfair Park is built on the site of the historic Germantown neighborhood. Germantown was bulldozed under eminent domain to make room for the '68 World's Fair. 
  The fair's theme was "The Confluence of Civilizations in the Americas". Germantown was one of the most diverse neighborhoods in San Antonio.
  For @luminariasa we created @ghostofgermantown to remember what used to be here. We reconstructed a map of the neighborhood using archival photos.
  The back is a tribute to the Toudouze family who were evicted against their will.
  Made in collaboration with Makayla Rutt, Kevin Choi and Trent Tunks
</p>
