<table class="table">
 <tr>
  <td><h4>Upcoming</h4> </td> 
  </tr>
  <tr>
    <td>September 2017</td>
    <td><em>Bristol Biennial interim project</em></td>
    <td></td>
    <td>Bristol</td>
  </tr>

  <tr>
    <td>July 7th</td>
    <td><em>First Thursdays With</em></td>
    <td>12ø</td>
    <td>London</td>
  </tr>

  <tr>
    <td>July 1st</td>
    <td><em>LEM Performance Festival</em></td>
    <td>Light Eye Mind</td>
    <td>London</td>
  </tr>

 <tr>
  <td><h4> 2016</h4> </td> 
  </tr> 

  <tr>
    <td>June 18th</td>
    <td><em>Kanyefest - Kanyequest Album launch</em></td>
    <td></td>
    <td>London</td>
  </tr>
    
  
  <tr>
    <td>June 3rd</td>
    <td><em>LEM Performance Festival</em></td>
    <td>Light Eye Mind</td>
    <td>London</td>
  </tr>
    
   <tr>
    <td>April-May</td>
    <td><em>THE SHIFT</br>EIGHT YEARS OF FLAT TIME HOUSE
    </em></td>
    <td>Flat Time House</td>
    <td>London</td>
  </tr>
  
  <tr>
    <td>April</td>
    <td><em>30 Days/30 Works</em></td>
    <td>12ø collective, stcfthots gallery</td>
    <td></td>
  </tr>
  
   
  <tr>
    <td>February</td>
    <td><em>Trading Places</em></td>
    <td>12ø collective</td>
    <td></td>
  </tr>
    
  <tr>
  <td><h4> 2015</h4> </td> 
  </tr>

  <tr>
    <td>4nd - 8th November </td>
    <td><em>Rosa --> Kanye</em></td>
    <td>at Experimentica 15 Festival</td>
    <td>Cardiff, Wales</td>
  </tr>
  
    <tr>
    <td>23rd Oct, 6-9pm </td>
    <td><em>Once More with Feeling(s)</em></td>
    <td>curated by Chris Alton</td>
    <td>Lewisham Art House</td>
  </tr>

    <tr>
    <td>2nd - 4th Oct </td>
    <td><em>Whittingdale Residency Exhibition</em></td>
    <td>with CAW</td>
    <td> in a garden in New Cross Gate</td>
  </tr>
  <tr>
    <td>12 September</td> 
    <td><em>Farm Open Day and Performance Night</em></td>
    <td>Curated by Rosa Faber</td>
    <td>Hayward Heath Organic Farm</td>
   </tr>

    <td>August</td>
    <td><em>Treat Yo Self</em></td>
    <td>One night exhibition event put on by It's Tropical collective  </td>
    <td>Bloc Projects Sheffield
   </tr>
   
   <td>July</td>
    <td><em>Show In Da House/em></td>
    <td>with Cheap Drinks collective</td>
    <td>Chalk Farm Mini Market</td>
  </tr>
     
  <tr>   
   <td>May</td>
    <td><em>JUST BECAUSE</em></td>
    <td></td>
    <td>private residence in Denmark Hill</td>
  </tr>
  <tr>
    <td>May</td>
    <td><em>Green</em></td>
    <td>with Cheap Drinks collective</td>
    <td>Chalk Farm Mini Market</td>
  </tr>
  
    <tr>
    <td>February - april</td>
    <td><em>Art@CMS</em></td>
    <td>Fermilab Art Gallery</td>
    <td>Batavia, Illinois</td>
  </tr>
  
  <td>January</td>
    <td><em>Demimonde</em></td>
    <td>with Slate Projects and Mottahedan Projects</td>
    <td>Amberwood House, South Kensington</td>
  </tr>
  
  <tr>
  <td><h4> 2014</h4> </td> 
  </tr>
  <tr>
    <td>November - February</td>
    <td><em>OurConCERN</em></td>
    <td>with support fromUniversity of the Arts London and CERN</td>
    <td>at the Shoreditch Trust</td>
  </tr>
  
  <tr>
    <td>October</td>
    <td><em>Recent Graduate Showcase</em></td>
    <td>Affordable Art Fair</td>
    <td>Battersea Park</td>
  </tr>
  
    <tr>
    <td>October</td>
    <td><em>Work on display during the Short Film Festival 
</em></td>
    <td>in the BFI (British Film Institute) Auditorium</td>
    <td>Southbank</td>
  </tr>
  <tr>
    <td>September</td>
    <td><em>FROM: different contemporary approaches in art education
</em></td>
    <td>Harts Lane Studios</td>
    <td>New Cross</td>
  </tr>

    <tr>
    <td>August</td>
    <td><em>Baldwin’s Nigger Reloaded</em></td>
    <td>With Barby Asante and Sorryyoufeeluncomfortable</td>
    <td>Iniva (Institute of International Visual Arts)</td>
  </tr>
  
    <tr>
    <td>April</td>
    <td><em>Pre Show // Degree Show</em></td>
    <td>Arts Admin</td>
    <td>Toynbee Studios</td>
  </tr>
  
  <tr>
    <td>March</td>
    <td><em>Crack In the Road Live #3</em></td>
    <td>The Bussey Building</td>
    <td> Peckham</td>
  </tr>
  
  <tr>
    <td><h4> 2013</h4> </td> 
  </tr>
  
    <tr>
    <td>December</td>
    <td><em>On/Off</em></td>
    <td>Vibe Gallery </td>
    <td>Bermondsey</td>
  </tr>
  
  <tr>
    <td>September</td>
    <td><em>Hype</em></td>
    <td> </td>
    <td>Chelsea College of Art and Design</td>
  </tr>
  
  <tr>
    <td>August</td>
    <td><em>Brouhaha</em></td>
    <td>Changing Spaces</td>
    <td>Cambridge</td>
  </tr>
  <tr>
    <td>July</td>
    <td><em>Waning Lyrical</em></td>
    <td>The Flying Dutchman</td>
    <td>Camberwell</td>
  </tr>

  <tr>
    <td>June</td>
    <td><em>Not A White Cube</em></td>
    <td> Asylum  </td>
    <td>Caroline Gardens Chapel</td>
  </tr>
  <tr>
    <td><h4> 2012</h4></td>
  </tr>
  <tr>
    <td>September</td>
    <td><em>The Space We Live In |</em></td>
    <td>The Old Fire Station</td>
    <td>Oxford</td>
  </tr>
  <tr>
    <td>November - August 2012
</td>
    <td><em>I HAVE THE RIGHT</em></td>
    <td>Picture Art Foundation</td>
    <td>California State University</td>
  </tr>
  <tr>
    <td><h4> 2011</h4> </td>  
  </tr>
  <tr>
    <td>February</td>
    <td><em>Gallimaufry</em></td>
    <td>Pitt Rivers Museum</td>
    <td>Oxford</td>
  </tr>
  <tr>
    <td><h4>Curatorial Projects</h4> </td>  
  </tr> 
  <tr>
    <td><h4> 2015</h4> </td>  
  </tr> 
  <tr>
    <td></td>
    <td><em>Kaajel Patel</em></td>
    <td>Nice Gallery</td>
    <td>London</td>
  </tr>
  <tr>
    <td></td>
    <td><em>Is it a bird? Is it a plane? Yes, it's a weird dolphin person with Victoria Grenier</em></td>
    <td>Nice Gallery</td>
    <td>London</td>
  </tr>    
  <tr>
    <td></td>
    <td><em>DROWN with Sean Mullan</em></td>
    <td>Nice Gallery</td>
    <td>London</td>
  </tr>
  <tr>
    <td><h4> 2014</h4> </td>  
  </tr>
  <tr>
    <td></td>
    <td><em>Nancy Allen/Miroslav Pomichal</em></td>
    <td>Nice Gallery</td>
    <td>London</td>
  </tr>   
  
  <tr>
    <td><h4> 2013</h4> </td>  
  </tr> 
  <tr>   
    <td></td>
    <td><em>Waning Lyrical</em></td>
    <td>The Flying Dutchman</td>
    <td>London</td>
  </tr> 
  <tr>
    <td><h4> 2012</h4> </td>  
  </tr>
  <tr>   
    <td></td>
    <td><em>The Space We Live In</em></td>
    <td>PeriscopeCollaborations  at The Old Fire Station</td>
    <td>Oxford</td>
  </tr> 
</table>
