<p>
2018 |Nominated for the VCU Fountainhead Fellowship in Sculpture and Extended Media
</p>
<p>
2017-18 | Graduate School Continuing Fellowship | University of Texas at Austin
</p>
<p>
2017 | Vermont Studio Center Fellowship, University of Texas at Austin 
</p>
<p>
2016 | Marshall F. Wells Scholarship | University of Texas at Austin
</p>

<p>
  2014 | Wandle Studio Prize| Wimbledon College of Art/Merton Abbey Mills
</p>
<p>
  2014 | MFI Graduate Award | Flat Time House
</p>
<p>
  2012 | Student Community Fund award for <em>The Space We Live In</em>
</p>
