<p>
2019 | Soco Residency Exhibition, Elsewhere Museum, Greeensboro, NC
</p>
<p>
2018 | Glasgow International, at Platform Easterhouse, Glasgow, Scotland
</p>
<p>
2018 | Affordable Dreamhouse, at the Visual Arts Center, Austin, TX 
</p>
<p>
2017 | A Room Before, at the Visual Arts Centre Gallery Austin, TX
</p>
<p>
2017 | Worldhack Installed, at Babycastles Gallery, New York, NY
</p>
<p>
2016 | Paraphrase, at Center Space Gallery Austin, TX
</p>
<p>
2016 |	Partial Shade, at Partial Shade platform, Austin, TX
</p>
<p>
2016 | THE SHIFT, Flat Time House, London, UK
</p>
<p>
2016 | 30 Days/30 Works, curated by 12ø collective and stcfthots gallery, online exhibition
</p>
<p>
2016 | Trading Places, at 12ø collective, Stoke Newington, London, UK
</p>
<p>
2016 | LEM Performance Festival, at Light Eye Mind, London, UK
</p>
<p>
2015 | Whittingdale Residency Exhibition, with CaW, temporary pavillion for Artlicks, London, UK
</p>
<p>
2015 | Sunday Residency Exhibition, curated by Sophie Chapman, private residence, London, UK
</p>
<p>
2015 | Once More with Feeling(s), curated by Chris Alton at Lewisham Art House, London, UK
</p>
<p>
2015 | Farm, curated by Rosa Faber at Hayward Heath Organic Farm, Hayward Heath, UK
</p>
<p>
2015 | Treat Yo Self, curated by It's Tropical collective, at Bloc Projects, Sheffield, UK
</p>
<p>
2015 | So What, at Chalk Farm Mini Market, London UK
</p>
<p>
2015 | Green, curated by Cheap Drinks collective at  Chalk Farm Mini Market, London, UK
</p>
<p>
<p>
2015 | Art@CMS, Fermilab Art Gallery, Batavia, Illinois, USA
</p>
<p>
2015 | Demimonde, curated by Slate Projects and Mottahedan Projects in Amberwood House, South Kensington, London, UK
</p>
<p>
2014 | Pre Show // Degree Show at Arts Admin’s Toynbee Studios, London, UK
</p>
<p>
2014 | CERN Residency Exhibition, at the Shoreditch Trust, London, UK
</p>
<p>
2014 | Crack In the Road Live #3, The Bussey Building, London UK
</p>
<p>
2014 | Recent Graduate Showcase with the Affordable Art Fair, London, UK
</p>
<p>
2014 | Short Film Festival, at the BFI (British Film Institute), Southbank, London, UK
</p>
<p>
2014 | BN Reloaded, curated by Barby Asante and devolped as part of Sorryyoufeeluncomfortable collective at Iniva, London, UK
</p>
<p>
2014 | Hype, Chelsea College of Art and Design, London, UK
</p>
<p>
2014 | Brouhaha, Changing Spaces, Cambridge, UK
</p>
<p>
2013 | On/Off, Vibe Gallery, Bermondsey, London, UK
</p>
<p>
2013 | Not A White Cube at the Asylum, Caroline Gardens Chapel, London, UK
</p>
<p>
2012 | Solo Exhibition, Memories of window-light , The Phoenix, Oxford, UK
</p>
<p>
2011 | Big Bang Exhibition, The Art Lounge, New Mills, UK
</p>
<p>
Creative Collective, The Jam Factory, Oxford, UK
</p>
<p>
2011 | Gallimaufry, Pitt Rivers Museum in Oxford, UK
