<p>
2018 | Glasgow International, Social Event with LoveUnlimited Platform Easterhouse baths, Glasgow, Scotland
</p>
<p>
2016 | LEM Performance Festival at Light Eye Mind, London (egg performance) 
</p>
<p>
2016 | LEM Performance Festival at Light Eye Mind, London, (in collaboration with Christopher Lawrence)
</p>
<p>
2015 | Whittingdale Residency Exhibition, with CaW, in a garden in New Cross Gate, London, UK
</p>
<p>

2015 | Sunday Residency Exhibition, Curated by Sophie Chapman, private residence, London, UK
</p>
<p>

2015 | Once More with Feeling(s), curated by Chris Alton at Lewisham Art House, London, UK
</p>
<p>

2015 | Farm Open Day and Performance Night, curated by Rosa Faber at Hayward Heath Organic Farm, Hayward Heath, UK

</p>
<p>
2015 | Treat Yo Self, one night exhibition event put on by It's Tropical collective, Bloc Projects Sheffield

</p>
<p>
2015 | So What, performance night at the Chalk Farm Mini Market
</p>
<p>

2015 | Green, with Cheap Drinks collective at the Chalk Farm Mini Market, May (in collaboration with Thomas Wadley)
</p>
<p>
2014 | Pre Show // Degree Show at Arts Admin’s Toynbee Studios, London, UK

</p>
<p>
2014 | Crack In the Road Live #3, The Bussey Building, London UK

</p>
<p>
2013 | On/Off, Vibe Gallery, Bermondsey, London, UK

