<p>
2017 | A Room Before, at Visual Arts Centre Gallery Austin, TX 
</p>
<p>
2017 | Worldhack Installed, Babycastles Gallery, New York, NY
</p>
<p>
2016 | Paraphrase at Center Space Gallery Austin, TX
</p>
<p>
2016 | THE SHIFT, Flat Time House, London, UK
</p>
<p> 
2016 | 30 Days/30 Works, 12ø collective, stcfthots gallery, online exhibition (in collaboration with Thomas Wadley)
</p>
<p>
2016 | Trading Places, 12ø collective, Stoke Newington, (in collaboration with Thomas Wadley)
</p>
<p>
2016 | Treat Yo Self, one night exhibition event put on by It's Tropical collective, Bloc Projects Sheffield
</p>
<p>
2016 | So What, performance night at the Chalk Farm Mini Market
</p>
<p>
2016 | Green, with Cheap Drinks collective at the Chalk Farm Mini Market, May (in collaboration with Thomas Wadley)
</p>
<p>
2015 | Art@CMS, Fermilab Art Gallery, Batavia, Illinois, USA
</p>
<p>
2015 | Demimonde with Slate Projects and Mottahedan Projects in Amberwood House, South Kensington, London, UK
</p>
<p>
2014 | CERN residency exhibition at the Shoreditch Trust with support from UAL and CERN, London, UK 
</p>
<p>
2014 | Recent Graduate Showcase with the Affordable Art Fair, Battersea Park

</p>
<p>
Work on display during the Short Film Festival at the BFI (British Film Institute), Southbank, London, UK
</p>
<p>
BN Reloaded with Barby Asante and Sorryyoufeeluncomfortable collective at Iniva, London, UK
</p>
<p>
2014 | Hype, Chelsea College of Art and Design, London, UK
Brouhaha, Changing Spaces, Cambridge, UK
</p>
<p>
2013 | Not A White Cube at the Asylum, Caroline Gardens Chapel, London, UK 
</p>
<p>
2012 | Solo Exhibition, Memories of window-light , The Phoenix Cinema Bar, Oxford, UK
</p>
<p>
2011 | Big Bang Exhibition, The Art Lounge, New Mills, UK
</p>
<p>
Creative Collective, The Jam Factory, Oxford, UK
</p>
<p>
2011 | Gallimaufry, Pitt Rivers Museum in Oxford, UK

