
<li role="presentation"{%if page.id =='car'%} class="active"{%endif%}><a href="{{ "/work/car" | prepend: site.baseurl }}">car (artist)</a></li>
<li role="presentation"{%if page.id =='maiden-voyage'%} class="active"{%endif%}><a href="{{ "/work/maiden-voyage" | prepend: site.baseurl }}">Maiden Voyage (boatolin)</a></li>
<li role="presentation"{%if page.id =='wow'%} class="active"{%endif%}><a href="{{ "/work/wow" | prepend: site.baseurl }}">WOW (that's amazing)</a></li>

<li role="presentation"{%if page.id =='horizonland'%} class="active"{%endif%}><a href="{{ "/work/horizonland" | prepend: site.baseurl }}">Horizonland</a></li>
<li role="presentation"{%if page.id =='pizza-ferry'%} class="active"{%endif%}><a href="{{ "/work/the-pizza-ferry" | prepend: site.baseurl }}">The Pizza Ferry (and other stories)</a></li>

<li role="presentation"{%if page.id =='oh-dallas'%} class="active"{%endif%}><a href="{{ "/work/oh-dallas" | prepend: site.baseurl }}">Oh, Dallas</a></li>

<li role="presentation"{%if page.id =='living'%} class="active"{%endif%}><a href="{{ "/work/keeping-young-and-living-longer" | prepend: site.baseurl }}">Rosa Nussbaum & Kevin Brophy’s Keeping Young & Living Longer: How to stay Active & Healthy past 100, or How to avoid Life Shortening Errors by Rosa Nussbaum and Kevin Brophy</a></li>

<li role="presentation"{%if page.id =='the-golfers'%} class="active"{%endif%}><a href="{{ "/work/the-golfers" | prepend: site.baseurl }}">The Golfers</a></li>

 <li role="presentation"{%if page.id =='agent-wonder'%} class="active"{%endif%}><a href="{{ "/work/agent-wonder" | prepend: site.baseurl }}">Agent Wonder<br>(and the days of arbitration)</a></li>

 <li role="presentation"{%if page.id =='blank'%} class="active"{%endif%}><a href="{{ "/work/blank" | prepend: site.baseurl }}">___ L Martin</a></li>

 <li role="presentation"{%if page.id =='electric'%} class="active"{%endif%}><a href="{{ "/work/electric-galloway" | prepend: site.baseurl }}">Electric Galloway Voight-Kampff Test</a></li>

 <li role="presentation"{%if page.id =='story'%} class="active"{%endif%}><a href="{{ "/work/the-story-of-mr-grooming" | prepend: site.baseurl }}">The Story of Mr Grooming</a></li>

<li role="presentation"{%if page.id =='saunter'%} class="active"{%endif%}><a href="{{ "/work/untitled-saunter" | prepend: site.baseurl }}">Untitled (saunter)</a></li>

<li role="presentation"{%if page.id =='sexting' %} class="active"{%endif%}><a href="{{ "/work/sexting-xkeyscore" | prepend: site.baseurl }}">Sexting X-Keyscore</a></li>

<li role="presentation"{%if page.id =='cern' %} class="active"{%endif%}><a href="{{ "/work/gotta-catch-em-all"| prepend: site.baseurl }}">Gotta Catch 'Em All</a></li>

<li role="presentation"{%if page.id =='rfa' %} class="active"{%endif%}><a href="{{ "/work/rosa-for-america" | prepend: site.baseurl }}">Rosa For America</a></li>

<li role="presentation"{%if page.id =='game-theory' %} class="active"{%endif%}><a href="{{ "/work/game-theory" | prepend: site.baseurl }}">Even Lions </a></li>

<li role="presentation"{%if page.id =='yolko' %} class="active"{%endif%}><a href="{{ "/work/yolko-yolo" | prepend: site.baseurl }}">Yolko Yolo (Egg Dance)</a></li>

<li role="presentation"{%if page.id =='rapture' %} class="active"{%endif%}><a href="{{ "/work/the-rapture" | prepend: site.baseurl }}">Rapture (Z-Series)</a></li>
