

<div class="col-md-12">
  <ul class="nav nav-pills nav-work">
             
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Project A</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Project b</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Project c</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Project d</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Project A</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Project b</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Project c</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Project d</a></li>
       
  </ul>
</div> 

