<li role="presentation"{%if page.id =='the-golfers'%} class="active"{%endif%}><a href="{{ "/work/the-golfers" | prepend: site.baseurl }}">The Golfers</a></li>

<li role="presentation"{%if page.id =='maiden-voyage'%} class="active"{%endif%}><a href="{{ "/work/maiden-voyage" | prepend: site.baseurl }}">Maiden Voyage (boatolin)</a></li>

<li role="presentation"{%if page.id =='wow'%} class="active"{%endif%}><a href="{{ "/work/wow" | prepend: site.baseurl }}">WOW (that's amazing)</a></li>

 <li role="presentation"{%if page.id =='agent-wonder'%} class="active"{%endif%}><a href="{{ "/work/agent-wonder" | prepend: site.baseurl }}">Agent Wonder<br>and the days of arbitration</a></li>

<li role="presentation"{%if page.id =='sexting' %} class="active"{%endif%}><a href="{{ "/work/sexting-xkeyscore" | prepend: site.baseurl }}">Sexting X-Keyscore</a></li>

<li role="presentation"{%if page.id =='blank'%} class="active"{%endif%}><a href="{{ "/work/blank" | prepend: site.baseurl }}">___ L Martin</a></li>

<li role="presentation"{%if page.id =='cern' %} class="active"{%endif%}><a href="{{ "/work/gotta-catch-em-all"| prepend: site.baseurl }}">Gotta Catch 'Em All</a></li>

<li role="presentation"{%if page.id =='rfa' %} class="active"{%endif%}><a href="{{ "/work/rosa-for-america" | prepend: site.baseurl }}">Rosa For America</a></li>

<li role="presentation"{%if page.id =='saunter'%} class="active"{%endif%}><a href="{{ "/work/untitled-saunter" | prepend: site.baseurl }}">Untitled (saunter)</a></li>

<li role="presentation"{%if page.id =='game-theory' %} class="active"{%endif%}><a href="{{ "/work/game-theory" | prepend: site.baseurl }}">Even Lions </a></li>

<li role="presentation"{%if page.id =='yolko' %} class="active"{%endif%}><a href="{{ "/work/yolko-yolo" | prepend: site.baseurl }}">Yolko Yolo (Egg Dance)</a></li>

<li role="presentation"{%if page.id =='ltd' %} class="active"{%endif%}><a href="{{ "/work/living-the-dream" | prepend: site.baseurl }}">Living The Dream</a></li>

<li role="presentation"{%if page.id =='DYL' %} class="active"{%endif%}><a href="{{ "/work/do-you-love-me" | prepend: site.baseurl }}">Do You Love Me?</br>(Yes Yes Yes Yes Yes)</a></li>

<li role="presentation"{%if page.id =='rapture' %} class="active"{%endif%}><a href="{{ "/work/the-rapture" | prepend: site.baseurl }}">Rapture (Z-Series)</a></li>
