

<div class="col-md-2">
  <ul class="nav nav-pills nav-work nav-stacked">
             
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Rosa --> Kanye</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">The Story of Mr Grooming, Dead Fox Man,</br>The Mice and our Day at The Farm</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Yolko Yolo (Egg Dance)</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Sexting X-Keyscore</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Do You Love Me?</br>(Yes Yes Yes Yes Yes)</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Gotta Catch 'Em All</br>(Particle Rap)</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Rosa For America</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "/work/living-the-dream" | prepend: site.baseurl }}">Living The Dream</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Portable Nostalgia</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Rapture (Z-Series)</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Fold Out Cathedral</a></li>
       <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Sacrifice (Kate Middleton)    </a></li>
       
  </ul>
</div> 

