<li role="presentation"{%if page.id =='saunter'%} class="active"{%endif%}><a href="{{ "/work/untitled-saunter" | prepend: site.baseurl }}">Untitled (saunter)</a></li>

<li role="presentation"{%if page.id =='story' %} class="active"{%endif%}><a href="{{ "/work/the-story-of-mr-grooming" | prepend: site.baseurl }}">The Story of Mr Grooming, Dead Fox Man,</br>The Mice and our Day at The Farm</a></li>

<li role="presentation"{%if page.id =='Kanye'%} class="active"{%endif%}><a href="{{ "/work/rosa-to-kanye" | prepend: site.baseurl }}">Rosa --> Kanye</a></li>

<li role="presentation"{%if page.id =='rfa' %} class="active"{%endif%}><a href="{{ "/work/rosa-for-america" | prepend: site.baseurl }}">Rosa For America</a></li>

<li role="presentation"{%if page.id =='ltd' %} class="active"{%endif%}><a href="{{ "/work/living-the-dream" | prepend: site.baseurl }}">Living The Dream</a></li>

<li role="presentation"{%if page.id =='electric' %} class="active"{%endif%}><a href="{{ "/work/electric-galloway" | prepend: site.baseurl }}">Electric Galloway</br>Voight-Kampff Test</a></li>

<li role="presentation"{%if page.id =='game-theory' %} class="active"{%endif%}><a href="{{ "/work/game-theory" | prepend: site.baseurl }}">Even Lions Think this Way (Game Theory)</a></li>


<li role="presentation"{%if page.id =='yolko' %} class="active"{%endif%}><a href="{{ "/work/yolko-yolo" | prepend: site.baseurl }}">Yolko Yolo (Egg Dance)</a></li>

<li role="presentation"{%if page.id =='sexting' %} class="active"{%endif%}><a href="{{ "/work/sexting-xkeyscore" | prepend: site.baseurl }}">Sexting X-Keyscore</a></li>

<li role="presentation"{%if page.id =='DYL' %} class="active"{%endif%}><a href="{{ "/work/do-you-love-me" | prepend: site.baseurl }}">Do You Love Me?</br>(Yes Yes Yes Yes Yes)</a></li>

<li role="presentation"{%if page.id =='cern' %} class="active"{%endif%}><a href="{{ "/work/gotta-catch-em-all"| prepend: site.baseurl }}">Gotta Catch 'Em All</br>(Particle Rap)</a></li>

<li role="presentation"{%if page.id =='port' %} class="active"{%endif%}><a href="{{ "/work/portable-nostalgia" | prepend: site.baseurl }}">Portable Nostalgia</a></li>

<li role="presentation"{%if page.id =='rapture' %} class="active"{%endif%}><a href="{{ "/work/the-rapture" | prepend: site.baseurl }}">Rapture (Z-Series)</a></li>

<li role="presentation"{%if page.id =='foc' %} class="active"{%endif%}><a href="{{ "/work/fold-out-cathedral" | prepend: site.baseurl }}">Fold Out Cathedral</a></li>
 
 <li role="presentation"{%if page.id =='sacrifice' %} class="active"{%endif%}><a href="{{ "/work/sacrifice-kate-middleton" | prepend: site.baseurl }}">Sacrifice (Kate Middleton)    </a></li>
       
