

<div class="col-md-2">
  <h2><a href="{{  "/"| prepend: site.baseurl }}">Rosa Nussbaum</a></h2>
</div>

<div class="col-md-4">
</div> 



<div class="col-md-4 nav-menu">
   <ul class="nav nav-pills pull-right">
       <li role="presentation"{%if page.id == 'work'%} class="active"{%endif%}><a href="{{ "/work/rosa-to-kanye" | prepend: site.baseurl }}">Work</a></li>
       <li role="presentation"{%if page.id == 'other work'%} class="active"{%endif%}><a href="{{ "/other-work" | prepend: site.baseurl }}">Other Work</a></li>      
       <li role="presentation"{%if page.id == 'about'%} class="active"{%endif%}><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
  </ul>
</div>
      
<div class="col-md-2">
</div>
