

<div class="col-md-2">
  <h2><a href="{{  "/"| prepend: site.baseurl }}">Rosa Nussbaum</a></h2>
</div>

<div class="col-md-7">
</div> 



<div class="col-md-2">
   <ul class="nav nav-pills pull-right">
       <li role="presentation"{%if page.id == 'work'%} class="active"{%endif%}><a href="{{ "/work/living-the-dream" | prepend: site.baseurl }}">Work</a></li>      
       <li role="presentation"{%if page.id == 'about'%} class="active"{%endif%}><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
  </ul>
</div>
      
<div class="col-md-2">
</div>
