<div class="col-md-2">
  <ul class="nav nav-pills nav-work nav-stacked">
             
    <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Nice Story</a></li>
    <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Shed Story</a></li>
    <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Cameron Piñata</a></li>
    <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Alejandra Text</a></li>
    <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Inflatable Rosa</a></li>
    <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Hay Studios Text</a></li>
    <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Katniss Costello</a></li>
    <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}">Film for Bathroom Residency</a></li>
    <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}"></a>Butthole Painting</li> 
    <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}"></a>Pokemon Sculptures</li>
    <li role="presentation"{%if page.id == %} class="active"{%endif%}><a href="{{ "" | prepend: site.baseurl }}"></a>Google Earth</li>                    
  </ul>
</div> 

