
<p>
2019 | RAIR Philly, Philadelphia, PA (upcoming)
</p>
<p>
2019 | Elsewhere Museum Residency, NC, Southern Constellation Fellowship, National Endowment for the Arts
</p>
<p>
2018 | Travel Award, College of Fine Arts, University of Texas at Austin, TX
</p>
<p>
2018 | Continuing Fellowship, Graduate School, University of Texas at Austin, TX
</p>
<p>
2017 | Vermont Studio Center, Johnson, VT
</p>
<p>
2016 | College of Fine Arts Student Excellence Scholarship, Austin, TX
</p>
<p>
2015 | Whittingdale Residency with CaW, London, UK
</p>
<p>
2015 | Hay Studios, Cornwall with Floating Platform, Cornwall UK
</p>
<p>
2015 | Sunday Residency, with curator Sophie Chapman, London, UK
</p>
<p>
2014 | Residency at  InIVA with SYFU Collective
</p>
<p>
2014 | Art@CMS residency at CERN with University of the Arts London and the Shoreditch Trust, London, UK
</p>
<p>
2014 |  Wandle Studio Prize, Wimbledon College of Arts, London UK
</p>
<p>
2014 | Thames Tower Residency with Departure Foundation, London UK
