<table class="table">
  <tr>
    <td>June - September 2015 </td>
    <td>Whittingdale Residency </td> 
    <td>Cultures of Resilience / CAW</td> 
  </tr>
  <tr>
    <td>July 2015 </td>
    <td>Hay Studios, Cornwall </td>
    <td>Floating Platform</td>
  </tr>
  <tr>
    <td>September 2014 </td> 
    <td>InIVA </td>
    <td>with SorryYouFeelUncomfortable Collective</td>
   </tr>
  <tr>
    <td>August 2014 </td>
    <td>CERN, Switzerland </td>
    <td>Residency in cooperation with CERN, UAL and the Shoreditch Trust
   </tr>
  <tr>
    <td>March 2014 </td>
    <td>Thames Tower </td>
    <td>four week group residency with Departure Foundation

</table>
