

<p>
2016 | First Thursdays With, at 12ø Collective, Stoke Newington, London, UK (in collaboration with Kyla Harris and Kat Buchanan and Aidan Strudwick)
</p>
<p>
2016 | Kanyequest Exhibition and Album launch, private residence, London ,UK (for list of collaborators see website)
</p>
<p>
2015 | Rosa -> Kanye at Experimentica 15 Festival, Cardiff, Wales (in collaboration with Thomas Wadley
</p>
<p>
2015 | Sunday Residency Exhibition, Curated by Sophie Chapman, private residence, London, UK
</p>
