<table class="table">
  <tr>
    <td><h4>By</h4> </td> 
  </tr>
  <tr>
    <td><h4>2015</h4> </td> 
  </tr>  
 
  <tr>  
    <td><a href="{{ "/text,/other/work/2015/12/29/Text-For-Opportunity-Makers.html" | prepend: site.baseurl }}">Performed text for<em>Opportunity Makers, Opportunity Takers</em></a></td>
    <td>at the Goldsmith’s Women’s Library</td>
    <td>London</td>
  </tr>
  <tr>
    <td><h4>2014</h4> </td> 
  </tr>
  
  <tr>  
    <td><a href="http://www.digicult.it/news/now-future-practices-contemporary-modes-making/"><em>What Now? Future Practices / Contemporary Modes of Making</em></a></td>
    <td>for Digicult.it</td>
  </tr>
  <tr>
    <td><h4>2013</h4> </td> 
  </tr>  
  <tr>  
    <td><a href="http://the-garden-exhibition.tumblr.com/post/64762543790/this-fragrance-of-a-twilight-past"><em>This Fragrance of a Twilight Past</em></a></td>
    <td>for Vered Lahav’s <em>The Garden</em> Exhibition blog </td>
  </tr>
  <tr>  
    <td><a href="http://www.digicult.it/news/the-spirit-of-uncertainty-a-few-questions-about-political-art/"><em>The Spirit of Uncertainty</em></a></td>
    <td>for Digicult.it </td>
  </tr>
  <tr>  
    <td><a href="http://www.digicult.it/news/after-subjectivity-issues-of-meta-narrative-and-distribution/"><em>After Subjectivity. Issues of (meta-) narrative and distribution</em></a></td>
    <td>for Digicult.it </td>
  </tr>
  <tr>
    <td><h4>About</h4> </td> 
  </tr>
 <tr>
    <td><h4>2016</h4> </td> 
  </tr>   
    <tr>  
    <td><a href="http://www.thewhitepube.co.uk/#!blank/xr7u6"><em>Trading Places at 12ø Collective</em></a></td>
    <td>by The White Pube</td>
  </tr> 
    
  <tr>
    <td><h4>2015</h4> </td> 
  </tr>        
 <tr>  
    <td><a href="http://gardemagazine.com/nice-gallery-creativity-blooms-rosa-nussbaum/"><em>Nice Gallery (Rosa Nussbaum)</em></a></td>
    <td>by Garde Magazine</td>
  </tr>  
  <tr>
    <td><h4>2014</h4> </td> 
  </tr> 
  <tr>  
    <td><a href="https://www.youtube.com/watch?v=Z6jBxtVRDk4"><em>Degree Show interview with Rosa Nussbaum</em></a></td>
    <td>by Wimbledon UAL</td>
  </tr>  
  <tr>  
    <td><em>Rosa Nussbaum - Interview</em></td>
    <td>by Garde Magazine</td>
  </tr> 
  <tr>  
    <td><a href="http://www.crackintheroad.com/arts/27249-artist-interview-rosa-nussbaum"><em>Artist Interview: Rosa Nussbaum</em></a></td>
    <td>for Crack in the Road</td>
    <td>by Alice Woods</td>
  </tr>
    <tr>  
    <td><em>Wimbledon Student Running for President of the US</em></td>
    <td>for Arts London News </td>
    <td>by Beau Bass</td>
  </tr>   
</table>
