---
layout: default
id: about
---


<div class="row about">
  <div class="col-md-1">
  </div>
  <div class="col-md-7">
  <h5>About</h5>
  {% include about.html %}

  <h5>Education</h5>
 {% include education.html %}

  <h5>Residencies/Awards</h5>
 {% include residencies.html %}

  <h5>Solo Exhibition/Primary Artist</h5>
  {% include solo-perf.html %}

  <h5>Group Exhibitions/Performances</h5>
  {% include group-ex.html %}

  <h5>Comissions</h5>
  {% include commissions.html %}



  <div class="col-md-1">
  </div>
  <div class="col-md-3">
  <p>rosa@rosanussbaum.com</br>
  </p>

    <a href="https://www.instagram.com/rosanussbaum/">instagram</a></br>
  </div> <!--colum-->
</row>
