---
layout: default
id: about
---


<div class="row about">
  <div class="col-md-1">
  </div>
  <div class="col-md-7">
  <h6>ABOUT</h6>
  {% include about.html %}
</br>
  <h6>EDUCATION</h6>
 {% include education.html %}
</br>
  <h6>RESIDENCIES/AWARDS</h6>
 {% include residencies.html %}
</br>
</br>
  <h6>SOLO EXHIBITIONS/PRIMARY ARTIST</h6>
  {% include solo-perf.html %}
</br>
  <h6>GROUP EXHIBITIONS/PERFORMANCES</h6>
  {% include group-ex.html %}


  </div>

  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <h6>CONTACT</h6>
    <p>rosa@rosanussbaum.com</br>
    </p>
  </div> <!--colum-->
</div>
