{% include head.html %} 

  <body>
    <div class="container-fluid">
      <div class="row">
        {% include nav-bar.html %}
      </div>
      <hr>
 
      {{ content }}
      
    </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
      <script>
        $(function(){
          $('.carousel').on('slid.bs.carousel', function() {
            $('.vimeo-embed').each(function(i, e){e.contentWindow.postMessage('{"method": "pause"}', '*')});
          });
        });
       </script> 
           
  </body>

</html>
