
  {% include head.html %}
  <body>
    <div class="container-fluid">
      <div class="row">
        {% include nav-bar.html %}
      </div>
      <hr>

     <div class="row main-page">

        {% include nav-bar-work.html %}
        {% include nav-bar-work-burger.html %}

      <div class="col-md-10">
        <div class="col-md-12" style="overflow-x: scroll">


         {{ content }}

       </div> <!--colum-->
      <!--find . -name "*.jpg" | xargs -n1 identify -format "%w\n" | paste -sd+ |bc-->
      <p>
      →
      </p>
      {% if page.id == "gog" %}
        {% include description.html %}
      {% endif %}
      </div>
    </div>


  </div>



  </body>

</html>
