
  {% include head.html %} 
  <body>
    <div class="container-fluid">
      <div class="row">
        {% include nav-bar.html %}
      </div>
      <hr>

     <div class="row main-page">

        {% include nav-bar-work.html %}
        {% include nav-bar-work-burger.html %}
            
      <div class="col-md-10" style="overflow-x: scroll">
        <div class="row-fluid" style="width: 4000px">
        
           {{ content }}
         
        </div>
      </div> <!--colum-->
    </row>     

  </div>
    
    
  </body>

</html>
